if SHIELD_NICE_VIEW_GEM
    config ZMK_DISPLAY
        default y

    # Diese Werte zwingen den Treiber auf das richtige Format
    config LS0XX_DRV_WIDTH
        default 160

    config LS0XX_DRV_HEIGHT
        default 68

    config LV_Z_VDB_CUSTOM
        default y
    
    config LV_VDB_SIZE
        default 64

    config LV_Z_ROTATE_90
        default y
endif
