parse_config:
  raw_binding_map:
    # Brackets & Braces (AltGr Kombinationen)
    "&kp RA(N7)": "{"
    "&kp RA(N8)": "["
    "&kp RA(N9)": "]"
    "&kp RA(N0)": "}"
    "&kp RA(Q)": "@"
    "&kp RA(E)": "€"
    "&kp RA(MINUS)": "\\"
    "&kp RA(SQT)": "´"
    "&kp RA(RBKT)": "~"

    # Umlaute (Wenn du sie in der Keymap via Shift+... oder Alias hast)
    # Falls du in der Keymap z.B. &kp DE_ADIA schreibst, muss das hier auch so stehen:
    "&kp DE_A_UMLAUT": "Ä"
    "&kp DE_O_UMLAUT": "Ö"
    "&kp DE_U_UMLAUT": "Ü"
    "&kp DE_SS": "ß"
    
    # Sonderzeichen aus deinem Bild (Sft+` etc.)
    "&kp LS(GRAVE)": "°"
    "&kp LS(NON_US_BSLH)": ">"
    "&kp RA(NON_US_BSLH)": "|"
    "&kp NON_US_BSLH)": "<"

    # Deine funktionierenden Mappings zur Sicherheit behalten
    "&smiley": "☺"
    "&durchmesser": "Ø"
    "&jigg_on": "Jig ON"
    "&jigg_off": "Jig OFF"
