parse_config:
  raw_binding_map:
    # ... (Rest wie gehabt)

    # --- SYSTEM & BT ---
    "&usb_on": {t: "ψ USB", s: "☀ ON"}  
    "&bt_off": {t: "$$bt$$", s: "OFF"}
    "&bt BT_SEL 0": "$$bt$$ ➀"
    "&bt BT_SEL 1": "$$bt$$ ➁"
    "&bt BT_SEL 2": "$$bt$$ ➂"
    "&bt BT_SEL 3": "$$bt$$ ➃"
    "&bt BT_SEL 4": "$$bt$$ ➄"
    "&kp LA(F4)": {t: "✕", s: "Alt F4"}

    # ... (Rest wie gehabt)

draw_config:
  dark_mode: true
  n_columns: 1
  split_gap: 30.0
  draw_key_caps: true
  append_minus_to_shifted_label: false
  key_w: 60.0
  key_h: 56.0
  glyphs:
    bt: |
      <path d="M10.394 2.813a.5.5 0 0 0-.457.075L4.722 6.252a.5.5 0 0 0 0 .814l4.673 3.437-4.673 3.437a.5.5 0 0 0 0 .814l5.215 3.831a.5.5 0 0 0 .805-.407v-6.046l4.234 3.114a.5.5 0 0 0 .592-.807L10.966 10l4.575-3.364a.5.5 0 0 0-.592-.807L10.715 8.943V3.22a.5.5 0 0 0-.321-.407zM11.715 4.74l3.057 2.247-3.057 2.247V4.74zM11.715 15.26V10.767l3.057 2.247-3.057 2.247z""")/>>
