parse_config:
  raw_binding_map:
    # Symbole für AltGr (Right Alt) Kombinationen
    "&kp RA(N7)": "{"
    "&kp RA(N8)": "["
    "&kp RA(N9)": "]"
    "&kp RA(N0)": "}"
    "&kp RA(Q)": "@"
    "&kp RA(E)": "€"
    "&kp RA(MINUS)": "\\"
    "&kp RA(SQT)": "´"
    "&kp RA(RBKT)": "~"
    
    # Sonderzeichen & Navigation
    "&kp NON_US_BSLH": "<"
    "&kp LS(NON_US_BSLH)": ">"
    "&kp RA(NON_US_BSLH)": "|"
    "&kp NON_US_HASH": "#"
    "&kp LS(GRAVE)": "°"
    "&kp GRAVE": "^"

    # Behaviors/Macros hübsch machen
    "&durchmesser": "Ø"
    "&smiley": "☺"
    "&jigg_on": "Jig ON"
    "&jigg_off": "Jig OFF"

draw_config:
  dark_mode: true
  # Da du 5 Spalten hast, hilft dies bei der Zentrierung
  n_columns: 3
