parse_config:
  raw_binding_map:
    # --- LAYER KEYS ---
    "&lt 1 TAB": {t: "⇥", s: "Lower"}
    "&lt 1 RET": {t: "↵", s: "Lower"}
    "&lt 2 ESC": {t: "ESC", s: "Raise"}
    "&lt_hp 2 SPACE": {t: "␣", s: "Raise"}
    "&lt_hp 3 BSPC": {t: "⌫", s: "Adjust"}
    "&mo 1": "Lower"
    "&mo 2": "Raise"
    "&mo 3": "Adjust"

    # --- NAVIGATION & EINGABE ---
    "&kp RET": "⏎"
    "&kp BSPC": "⌫"
    "&kp DEL": "⌦"
    "&kp TAB": "⇥"
    "&kp ESC": "ESC"
    "&kp SPACE": "␣"
    "&kp LGUI": "$$mdi:microsoft-windows-classic$$"
    "&kp GRAVE": {t: "^", s: "°"}
    "&kp PLUS": "`"
    "&kp HOME": "⤒ Pos1"
    "&kp END": "⤓ End"
    "&kp LC(LS(ESC))": "Task Mgr"
    "&nbsp": "NBSP"

    # --- ZAHLEN & DEUTSCHE FIXES ---
    "&kp N1": {t: "1", s: "!"}
    "&kp N2": {t: "2", s: "\""}
    "&kp N3": {t: "3", s: "§"}
    "&kp N4": {t: "4", s: "$"}
    "&kp N5": {t: "5", s: "%"}
    "&kp N6": {t: "6", s: "&"}
    "&kp N7": {t: "7", s: "/"}
    "&kp N8": {t: "8", s: "("}
    "&kp N9": {t: "9", s: ")"}
    "&kp N0": {t: "0", s: "="}
    "&kp MINUS": {t: "ß", s: "?"}
    "&kp SEMI": "Ö"
    "&kp SQT": "Ä"
    "&kp LBKT": "Ü"
    "&kp RA(N7)": "{"
    "&kp RA(N8)": "["
    "&kp RA(N9)": "]"
    "&kp RA(N0)": "}"
    "&kp RA(Q)": "@"
    "&kp RA(E)": "€"
    "&kp RA(M)": "µ"
    "&kp RA(MINUS)": "\\"
    "&kp RA(SQT)": "´"
    "&kp RA(NON_US_BSLH)": "|"
    "&kp RA(RBKT)": "~"
    "&kp RA(N2)": "²"  
    "&kp RA(N3)": "³"
    "&kp NON_US_HASH": {t: "#", s: "'"}
    "&kp NON_US_BSLH": {t: "<", s: ">"}
    "&kp SLASH": {t: "-", s: "_"}
    "&kp RPAR": "="
    "&kp RBKT": {t: "+", s: "*"}

draw_config:
  dark_mode: true
  n_columns: 1
  key_w: 60
  key_h: 56
  split_gap: 30
  draw_key_caps: true
