&spi0 {
    status = "okay";
    cs-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
};



&nice_view_spi {
    status = "okay";
};

&nice_view {
    /* Hier wird gedreht: 0 = Standard, 1 = 90°, 2 = 180°, 3 = 270° */
    transform-rotation = <1>;
};
