manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: v0.3-branch
      import: app/west.yml
    - name: nice-view-gem
      url: https://github.com/M165437/nice-view-gem
      revision: main
      zmk-module: true
  self:
    path: config
