manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: nice-view-gem
      url: https://github.com/MageSlayer/nice-view-gem # <--- Volle URL statt Remote
      revision: main
  self:
    path: config
